
//@import "reset";
@import "variables";
@import "mixin";

.nadpis{
  display: block;
  margin: 50px auto 0px auto;
  width: 300px;
  text-align: center;
  @include font($raleway, 900, 25pt);
}

.button{
  button{
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    background: linear-gradient($yelow 80%, $yelow2);
    text-shadow: 0px 0px 2px grey;
    box-shadow: 0px 3px $darkyelow;

    @include font($raleway, 800, 20pt);
    color: white;

    &:hover{
      background: linear-gradient($yelow2 60%, $yelow);

      cursor: pointer;
    }

    &:active{
      background: linear-gradient($yelow 60%, $yelow2);
    }

    &:focus{
      outline: none;
    }
  }
}

.odkaz{
  display: block;
  width: 300px;
  text-align: center;
  margin: 50px auto;
  a{ @include font($raleway, 900, 12pt); }
}

body{
  margin: 0;
  padding: 0;
}


#content{
  max-width: 1920px;
  margin: 0 auto;
  @include grid(1);
  @include hover_a(0);

  grid-template-areas:
  "header"
  "section"
  "footer";

  header{
    grid-area: header;
    @include grid(12);
    //display: none !important;
    //background: blue;
    height: 120px;

    @media screen and (min-width: 1450px){
      grid-template-areas:
      ". . logo up up up up up up up . ."
      ". . logo nav nav nav nav nav nav nav . .";
    }

    @media screen and (max-width: 1450px) and (min-width: 1080px){

      grid-template-areas:
      "logo up up up up up up up up up up up"
      "logo nav nav nav nav nav nav nav nav nav nav nav";

      margin-left: 50px;
      margin-right: 50px;
    }

    @include mQ(1080px){

      margin-left: 50px;
      margin-right: 50px;


      .up{
        margin-left: auto;
        margin-right: 70px;
        margin-top: 30px;
        width: 330px;
        float: right;
        display: block;
        margin-bottom: 20px;
        padding-left: 50px;

        &>div{
          display: block;
          position: relative;
          float: right;
          height: 33px;
        }

        #search{
          margin-top: 10px;
        }
      }

      .hamburger{
        margin-top: -45px;
      }

      nav{
        width: 100%;
      }

      .nab{
        width: inherit;
        &>ul{
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }

        ul{
          li{
            width: auto;
          }
        }
      }
    }

    @media screen and (max-width: 1080px) and (min-width: 776px){
      margin-left: 50px;
      margin-right: 50px;

      grid-template-areas:
      " logo up up up up up up up up up up up"
      "nav nav nav nav nav nav nav nav nav nav nav nav";
    }

    @include mQ(776px){
      @include grid(1);
      height: 205px;

      grid-template-areas:
      "logo"
      "up"
      "nav";

      #logo, .up{
        margin: 0px auto;
        display: block;
        position: relative;
      }

      #logo{
        width: 171px;
        margin-top: 20px;

        margin-left: auto;
        margin-right: auto;

      }

      .up{
        height: 70px;
        width: 330px;
        padding: 0 30px;
        margin-top: 10px;
      }

      #search{
        margin-right: 16px;
      }

      .nab{
        margin-top: 19px;
      }

      .nabidka{
        li{
          width: auto;

        }
      }

      .hamburger{
        margin-top: -50px;
        top: 15px;
      }
    }

    @include mQ(570px){
      height: auto;
      grid-gap: 0;

      #logo{
        height: 84px;
      }

      .up{
        height: auto;
      }

      .nab{
        margin-top: 50px;
        text-align: center;

          &>ul{
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

            li{

              padding-left: auto;
              padding-right: auto;
            }
          }
      }

      .main-nav{
        height: auto;
      }

      .hamburger{
        width: 100%;
        display: block;
        margin-top: 0px;
        top: 5px;

        *{
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    @include mQ(520px){
      margin: 0 auto;
        width: 100%;
        height: 275px;

        .up{
          width: 300px;
        }

        .hamburger{
        }

        #logo{

          margin-bottom: 0px;
        }

        #mail{
          margin-right: 45px;
        }

        #phone{
          margin-right: 85px;
          text-align: center;
        }

        #search{
          margin-right: 5px;
          width: 288px;

          input{
            width: 240px;
          }
        }

        .nab{
          margin-left: auto;
          margin-right: auto;
          margin-top: 49px;
          *{
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      @include mQ(391px){

        .up{
          width: 235px;
        }

        #mail{
          margin-right: 20px;
        }

        #phone{
          margin-right: 60px;
          text-align: center;
        }

        #search{
          display: block;
          width: 268px;

          left: 25px;

          input{
            width: 220px;
          }
        }
    }
  }

  section{
    grid-area: section;
    padding: 0px;
    @include grid(1);
  }

  footer{
    grid-area: footer;
    grid-column-gap: 10px;
    //display: none !important;
    background: $red;
    height: 50px;

    @media screen and (min-width: 1070px){
      @include grid(12);

      grid-template-areas: ". . DEMO poski poski  poski poski poski poski poski . .";
    }

    @media screen and (min-width: 920px) and (max-width: 1070px){
      @include grid(12);

      grid-template-areas: ". DEMO DEMO poski poski poski  poski poski poski poski poski .";
    }

    @include mQ(920px){
      @include grid(1);

      grid-template-areas:
      "DEMO"
      "poski";

      height: 90px;
      text-align: center;

      .poski{
        width: 600px;
        margin: 0 auto;

        #poski{
        }

        #REAL{
          width: 330px;
        }
      }
    }

    @include mQ(728px){

      height: 120px;
      text-align: center;

      .poski{
        height: 80px;
        display: block;
        width: 500px;
      }

      .DEMO{
        height: 30px;
      }

      #poski{
        height: 20px;
        margin: 20 0;
        margin-left: auto;
        margin-right: auto;

        div{
          margin-top: -5px;
        }
      }

      #REAL{
        height: 20px;
        margin: 0px;
        padding: 0px;
        margin-left: 100px;

        div{
          margin: 0px;
          padding: 0px;
        }

        p{
          width: auto;
        }
      }
    }

    @include mQ(530px){

      .poski{
        height: 80px;
        display: block;
        width: 345px;
        margin: 0px;
        margin: 0 auto;
      }

      #REAL{
        margin: 0px;
        margin-left: 15px;
      }
    }

    @include mQ(370px){

      height: 135px;

      .poski{
        display: block;
        width: 100%;
        margin: 0px auto;
      }

      #REAL{
        font-size: 7.5pt;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 255px !important;

        p{
          margin: 10px;
          line-height: 17px;
        }

        div{
          padding: 0px;
          margin-top: -2px;
          margin-left: 10px;
        }
      }
    }
  }
}

header{

  #logo{
    grid-area: logo;
    //background: red;
    margin-top: 15px;

    //grid-row: 0 / 2;
    //grid-column: 2 / 3;

    a{
      width: auto;
      height: 100%;

      background-image: url(images/logo.png);
      @include adjacent(171px, 84px, 100%);
    }
  }

  .up{

    //grid-row: 0 / 1;
    //grid-column: 3 / 8;

    grid-area: up;
    display: flex;
    //background: red;
    height: 40px;
    margin-top: 15px;
    justify-content: flex-end;
  }

  nav{

    //grid-row: 2 / 3;
    //grid-column: 3 / 8;

    grid-area: nav;
    //background: red;
    height: 30px;
    margin-bottom: 10px;
  }
}

.up{

  &>div{
      display: block;
      margin: 0px 0px 0px 10px;
      @include font($raleway, bold, 11.5pt);

      a{
        color: black;
        text-decoration: none;
        display: block;
        margin: 12.5px 10px 0px 0px;
      }
  }

  #mail{
    width: 190px;

    div{
      background-image: url(images/mail.png);
      @include adjacent(15px, 12px, 100%);
      margin-right: 4px;
      margin-top: 15px;

      @include font($raleway, bold, 10.5pt);
    }
  }

  #phone{
    width: 120px;
    font-family: sans-serif;
    margin-top: 0px;

    div{
      //background: green;
      background-image: url(images/phone1.png);
      @include adjacent(12px, 11px, 100%);
      margin-right: 4px;
      margin-top: 16px;
    }
  }

  #search{
    display: block;
    position: relative;
    width: 300px;
    margin-top: 5px;
    border: solid 1px $lightgray;
    //background: blue;

    input{
      width: 255px;
      display: block;
      position: relative;
      float: left;
      padding: 8px 0px 8px 10px;
      border-radius: 5px 0px 0px 5px;
      border: solid 0px $lightgray;
    }

    img{
      width: auto;
      padding: 9px 5px 10px 10px;
      border-radius: 0px 5px 5px 0px;
    }
  }
}

header nav{
  .nab{
    @include main-menu(flex-end, 100px, black, $red);
    @include font($raleway, 700, 12pt);
  }

  li{
    display: block;
    margin-left: 15px;
    min-width: 40px;
  }

  a{
    padding-bottom: 20px;
  }

  .hamburger{
      display: none;
      position: relative;
      float: right;
      width: 40px;
      height: 40px;
      margin-top: -30px;
      cursor: pointer;
  }

  .nabidka{
    display: none;
    height: auto;
    width: auto;
    margin-top: 16px;
    background: white;
    position: absolute;

    box-shadow: 0px 7px 10px rgba(0, 0, 0, .2);
  }

  & li:nth-child(6){

    &:hover{
      .nabidka{
        z-index: 5;
        display: block;

        ul{
          padding: 0px;
        }

        li{
          width: 100%;

          margin: 20px 20px;
          @include font($roboco, 400, 11pt);
        }

        img{
          margin: 0px 0px 0px 40px;
        }

        a{
          &:hover{ color: $blue2; }
          &:active{ color: $grey5; }
        }
      }
    }
  }


  @include mQ(1080px){
    width: 100%;
    display: block;

    .hamburger{
      display: block;
      margin-top: 150px;

      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
    }
    .hamburger-close{
      display: block;

      /* Rotate first bar */
      .bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
          transform: rotate(-45deg) translate(-9px, 6px) ;
      }

      /* Fade out the second bar */
      .bar2 {
          opacity: 0;
      }

      /* Rotate last bar */
      .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
          transform: rotate(45deg) translate(-8px, -8px) ;
      }
    }

    .nab{
      background: white;
      margin-top: 21px;
      margin-left: -50px;
      margin-right: -50px;
      border-top: solid $whitegrey2 1px;
      display: none;

      ul{
        width: 100%;
        display: block;
        margin: 0px;
        padding: 0px;
      }

      li{
        margin: 0px;

        a{
          display: block;
          padding: 10px 30px;
        }
      }

      li:hover{
        background: $whitegrey;
      }

      & li:nth-child(6){
        &:hover{
          margin: 0px;
          padding: 0px;

          .nabidka{
            position: relative;
            display: block;
            margin-top: 0px;
            box-shadow: 0px 0px 0;

            img{
              display: none;
            }

            li{
              margin: 0px;
              padding: 0px;
              padding-left: 15px;
            }
          }
        }
      }
    }
    .nab-close{
      display: block;
      position: absolute;
      z-index: 5;
    }


  }
}





section{
  grid-template-areas:
  "billboard-container"
  "hledani"
  "sluzby"
  "faq"
  "chci"
  "poptavka"
  "news"
  "down";

  .billboard-container{
    //display: none !important;
    grid-area: billboard-container;
    background: $whitegrey;
  }

  .hledani{
    //display: none !important;
    grid-area: hledani;
    @include grid(8);
    background: $whitegrey;
    height: 300px;


          grid-template-areas:
          "hled hled hled hled hled hled hled hled";


    @media screen and (min-width: 1300px){


      .nabidka{
        padding: 0 1.19%;
      }
    }

    @include mQ(1300px){

      grid-gap: 0px;

      .nabidka{
        padding: 0 2.5%;
      }
    }

    @include mQ(1160px){
      padding-bottom: 400px;
    }

    @include mQ(700px){
      padding-bottom: 500px;

      #hledani{
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    @include mQ(560px){
      @include grid(1);
      padding-bottom: 150px;

      grid-template-areas:
      "hled";

      nav{
        width: 100%;
      }
    }

    @include mQ(428px){
      padding-bottom: 500px;
    }
  }

  .sluzby{
    //display: none !important;
    grid-area: sluzby;
    display: block;
    background: $whitegrey;
  }

  .faq{
    grid-area: faq;
    @include grid(1);
    //display: none !important;
  }

  .chci{
    grid-area: chci;
    @include grid(1);
    //display: none !important;
  }

  .poptavka{
    //display: none !important;
    grid-area: poptavka;
    background: $whitegrey;
    height: auto;
    padding-top: 100px;

    @include mQ(1260px){
      &>div{
        width: 550px;
      }
    }

    @include mQ(900px){

        &>div{
          padding: 0px 50px;
        }

        /* position outside */
        .flickity-prev-next-button.previous {
          display: none;
        }
        .flickity-prev-next-button.next {
          display: none;
        }

    }

    @include mQ(700px){
      &>div{
        width: 550px;

        padding-left: 20px;
        padding-right: 20px;
      }

      h3{
        font-size: 20pt;
      }
    }

    @include mQ(620px){
      &>div{
        padding: 0px 100px;
        width: 300px;

        .client-container{
          width: 270px;
          margin: 0 auto;
        }

        .flickity-prev-next-button.previous {
          display: block;
        }
        .flickity-prev-next-button.next {
          display: block;
        }
      }
    }

    @include mQ(530px){
      &>div{
        padding: 0px 50px;

        .flickity-prev-next-button.previous {
          display: none;
        }
        .flickity-prev-next-button.next {
          display: none;
        }
      }
    }

    @include mQ(430px){
      &>div{
        padding: 0px 10px;
      }
    }

    @include mQ(350px){
      &>div{
        padding: 0px 2px;

        width: auto;

        .nadpis{
          width: auto;
        }
        .client-container{
          width: 250px;
          margin: 0 auto;
        }

        .odkaz{
          width: auto;
        }
      }
    }
  }

  .news{
    grid-area: news;
    //display: none !important;
    background: $whitegrey;
    @include grid(1);
  }

  .down{
    grid-area: down;
    //display: none !important;
    background: $grey;
    grid-gap: 25px;
    a, li, p{ color: white; }

    nav{
      grid-area: nav2;
      @include main-menu(space-between, 30px, white, $grey5);
      @include font($raleway, bold, 11pt);
      border-bottom: solid 1px $darkgray;
      margin-top: 25px;

      ul{
        width: 800px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        margin-bottom: 25px;

        li{
          margin: 0 15px;
        }
      }
    }

    #adresa{
      grid-area: adresa;
      @include font($raleway, 400, 11pt);
      margin-left: auto;
      margin-right: auto;

      ul{
        list-style: none;
        margin-top: 12px;
        li{margin: 0 0 5px 0;}
      }

      div{
        background-image: url(images/misto.png);
        @include adjacent(56px, 56px, 100%);
        margin-top: 15px;
        margin-right: 20px;
      }
    }

    #phone2{
      grid-area: phone2;
      margin-left: 20px;
      margin-left: auto;
      margin-right: auto;

      div{
        background-image: url(images/phone2.png);
        @include adjacent(56px, 56px, 100%);
        margin-top: 15px;
        margin-right: 20px;
      }
    }

    #email{
      grid-area: email;
      margin-left: 20px;
      margin-left: auto;
      margin-right: auto;


      div{
        background-image: url(images/mail2.png);
        @include adjacent(56px, 56px, 100%);
        margin-top: 15px;
        margin-right: 20px;
      }
    }

    @media screen and (min-width: 1400px){
      @include grid(9);

      grid-template-areas:
      ". . nav2 nav2 nav2 nav2 nav2 . ."
      ".  . adresa adresa phone2 email email . .";
    }

    @media screen and (max-width: 1400px) and (min-width: 970px){
      @include grid(6);

      grid-template-areas:
      "nav2 nav2 nav2 nav2 nav2 nav2"
      ". adresa phone2 phone2 email .";
    }

    @media screen and (max-width: 970px) and (min-width: 700px){
      @include grid(5);

      grid-template-areas:
      ". adresa . nav2 ."
      ". phone2  . nav2 ."
      ". email . nav2 .";

      nav{
        width: 50px;
        margin-left: 40px;
        margin-top: 15px;
        float: right;
        display: block;
        border-bottom: 0px;

        ul{
          display: block;
          width: 100px;

          li{
            position: relative;
            float: left;
            width: 100px;
            margin: 12px 0;
          }
        }
      }

    }

    @include mQ(700px){
      @include grid(3);

      grid-template-areas:
      "nav2 nav2 nav2"
      "nav2 nav2 nav2"
      "nav2 nav2 nav2"
      ". adresa ."
      ". phone2 ."
      ". email .";

      grid-gap: 0px;
      padding-top: 20px;

      nav{
        margin: 0 auto;
        width: auto;
        margin-bottom: 20px;
        margin-top: 10px;
        border-bottom: 0px;

        ul{
          display: block;
          width: 100px;
          text-align: center;
          margin: 0 auto;

          li{
            position: relative;
            float: left;
            width: 100px;
            margin: 7px 0px 7px 0px;
          }
        }
      }

      #adresa{
        grid-area: adresa;
        @include font($raleway, 400, 11pt);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 180px;
        font-size: 10pt;

        ul{
          list-style: none;
          margin-top: 12px;
          li{margin: 0 0 5px 0;}
        }

        div{
          @include adjacent(52px, 52px, 90%);
          margin-top: 20px;
          margin-right: 5px;
        }
      }

      #phone2{
        grid-area: phone2;
        margin-left: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 170px;
        a{font-size: 14pt;}

        div{
          @include adjacent(52px, 52px, 90%);
          margin-top: 20px;
          margin-right: 5px;
        }
      }

      #email{
        grid-area: email;
        margin-left: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 230px;
        a{font-size: 14pt;}


        div{
          @include adjacent(52px, 52px, 90%);
          margin-top: 20px;
          margin-right: 5px;
        }
      }
    }
  }
}


.billboard{
  //display: none !important;
  .hlavni-nadpis{
    position: absolute;
    text-align: right;
    color: white;
    z-index: 3;

    left: 50%;

    h1{
      @include font($raleway, 200, 35pt);
    }

    span{
      @include font($raleway, 900, 40pt);
    }

    p{
      padding-top: 0px;
      @include font($raleway, 200, 14pt);
    }

    .button{
      margin-top: 80px;

      button{
        @include font($raleway, 900, 16pt);
      }
    }

    background-color: none;

    @include mQ(1250px){
      left: auto;
      right: 100px;
    }

    @include mQ(1038px){
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
      width: 70%;
      display: block;
      left: 0;
      top: 40px;


      .button{
        margin-top: 40px;
        }
    }

    @include mQ(770px){
      top: 0px;
    }

    @include mQ(565px){
      top: 50px;
      width: 96%;
      margin: 0 2%;

      h1{
        @include font($raleway, 200, 30pt);
      }

      span{
        @include font($raleway, 900, 35pt);
      }

      p{
        padding-top: 0px;
        @include font($raleway, 200, 14pt);
      }

      .button{
        margin-top: 40px;
        width: auto;

        button{
          @include font($raleway, 900, 16pt);
          }
        }
      }

    @include mQ(500px){
      top: 60px;

        h1{
          @include font($raleway, 200, 25pt);
        }

        span{
          @include font($raleway, 900, 30pt);
        }

        p{
          padding-top: 0px;
          @include font($raleway, 200, 14pt);
        }

        .button{
          margin-top: 40px;

          button{
            @include font($raleway, 900, 16pt);
            }
          }
        }

    @include mQ(420px){

          h1{
            @include font($raleway, 200, 18pt);
          }

          span{
            @include font($raleway, 900, 25pt);
          }

          p{
            padding-top: 0px;
            @include font($raleway, 200, 14pt);
          }

          .button{
            margin-top: 40px;

            button{
              padding: 10px 20px;
              @include font($raleway, 900, 14pt);
            }
          }
        }
  }



  .billboard-container{

    .carousel-cell{
      background-image: url(images/billboard0.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 100%;
      height: 700px;
      display: block;
    }

    @include mQ(1580px){
      .carousel-cell{
        width: 1562px;
      }
    }

    @include mQ(1260px){
      .carousel-cell{
        background-image: url(images/billboard0M.jpg);
        width: 2000px;
        height: 750px;
      }
    }

    @include mQ(700px){
      margin-top: 0px;
      .carousel-cell{
        background-image: url(images/billboard0M.jpg);
        width: 1278px;
      }
    }

    @include mQ(550px){
      .flickity-prev-next-button.previous {
        display: none;
      }
      .flickity-prev-next-button.next {
        display: none;
      }
    }

    @include mQ(420px){
      margin-top: 0px;
      .carousel-cell{
        background-image: url(images/billboard0M.jpg);
        width: 1278px;
        height: 650px;
      }
    }




      /* smaller, dark, rounded square */
    .flickity-button {
      background: white;
    }
    .flickity-button:hover {
      background: $whitegrey;
    }

    .flickity-prev-next-button {
      width: 60px;
      height: 60px;
      border-radius: 0px;
    }
    /* icon color */
    .flickity-button-icon {
      fill: $grey6;
    }
    /* position outside */
    .flickity-prev-next-button.previous {
      left: 0px;
      top: 250px;
      z-index: 5;
    }
    .flickity-prev-next-button.next {
      right: 0px;
      top: 250px;
      z-index: 5;
    }



      /* position dots in carousel */
    .flickity-page-dots {
      bottom: 290px;
    }
    /* white circles */
    .flickity-page-dots .dot {
      width: 12px;
      height: 12px;
      opacity: 1;
      background: transparent;
      border: 3px solid white;
    }
    /* fill-in selected dot */
    .flickity-page-dots .dot.is-selected {
      background: $yelow;
    }

    .flickity-page-dots .dot{
      background: $red;
    }
  }
}



.hledani{

  #hledani{
    grid-area: hled;
    background: $white2;
    width: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
      margin: 0 250px;
      margin-bottom: 0;

    @include mQ(1600px){
      margin: 0 100px;
    }

    @include mQ(1300px){
      margin: 0 50px;
    }

    @include mQ(850px){
      margin: 0 20px;
    }
  }
}

#hledani{
top: -250px;
  grid-template-areas:
  "nav2 nav2 nav2 nav2"
  "hled2 hled2 hled2 hled2"
  "hled2 hled2 hled2 hled2";


  @include mQ(700px){
    top: -268px;
  }

  nav{
    grid-area: nav2;
    background: $red;
    padding: 0;


    &>ul{
      margin: 0;
      padding: 0;



      li:nth-child(1){ grid: area1; p{ background-image: url(images/domy.png); }}
      li:nth-child(2){ grid: area2; p{ background-image: url(images/byty.png); }}
      li:nth-child(3){ grid: area3; p{ background-image: url(images/chaty.png); }}
      li:nth-child(4){ grid: area4; p{ background-image: url(images/pozemky.png); }}
      li:nth-child(5){ grid: area5; p{ background-image: url(images/komerce.png); }}
      li:nth-child(6){ grid: area6; p{ background-image: url(images/ostatni.png); }}

      li{
        display: block;
        width: 100%;
      }

      display: flex;
      justify-content: space-around;


      @media screen and (min-width: 1150px){

        li{
          flex: 1 1 1fr;
        }

        .nabidka{
          width: calc((100%)/6 - 3px);
        }
      }

      @include mQ(1600px){

        .nabidka{
          width: calc((100%)/6 - 3px);
        }
      }

      @include mQ(1150px){
        flex-flow: row wrap;

        li{
          flex: (100%/3);
        }

        .nabidka{
          width: calc((100%)/3 );
        }
      }

      @include mQ(700px){

        li{
          flex: 50%;
        }

        .nabidka{
          width: calc((100%)/2);
          z-index: 1
        }
        }

      @include mQ(428px){
        li{
          flex: 100%;
        }

        .nabidka{
            width: calc(100%);
        }
      }


      @include mQ(330px){

        .nabidka{
            width: calc(100%);
        }
      }
    }
  }

  .hled{
    grid-area: hled2;

    @include mQ(550px){
      .img{
        display: none;
      }

      .pro{
        margin: 0 auto;

        .hledani1{
          margin-left: 10px;
        }
      }

      .hledani1:nth-child(1){
        top: 30px;
      }

      .hledani1:nth-child(2){
        top: 0px;
      }
    }
  }
}

.hled{

  .pro{
    grid-area: pro;
    width: 400px;

    div:first-child{
      padding: 0px;
      margin-bottom: 0px;
      border-bottom: solid black 1px;

      a{
        margin: 0px;
        padding: 0px;
      }
    }


    .hledani1{
      grid-template-areas: hleda;
      width: 450px;
      display: block;
      position: relative;
      float: left;
      margin-left: 50px;

      a{
        text-decoration: none;
        color: Black;
      }

      &:nth-child(1){
        top: 50px;
        height: 130px;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }

      &:nth-child(2){
        top: 10px;
      }

      img{
        float: left;
        margin-top: 40px;
        margin-right: 15px;
        max-width: 30px;
      }

      h3{
        @include font($raleway, 200, 25pt);
      }

      span{
        font-weight: 900;
      }

      p{
        @include font($raleway, 200, 15pt);
        margin: -25px 0px 0px 50px;
      }


      @include mQ(570px){
        width: 385px;

        &:nth-child(1){
          height: 100px;
        }

        .img{
          margin-left: 20px;
          img{
            width: 25px;
          }
        }

        h3{
          @include font($raleway, 200, 20pt);
          margin-top: 35px;
        }

        p{
          @include font($raleway, 200, 11pt);
        }
      }
    }

    &>div:nth-child(1){
      width: 380px;
      padding-bottom: 40px;
      border-bottom: 1px $grey3 solid;
    }

    &>div:nth-child(2){
      margin-top: 30px;
      margin-bottom: 50px;
    }

    @include mQ(450px){
      width: 270px;
      margin: 0 auto;

      .hledani1{
        width: 260px !important;
        margin-left: 0;


        .img{
          margin-left: 0px;
          img{
            width: 15px;
          }
        }

        h3{
          @include font($raleway, 200, 14pt);
          margin-top: 40px;
        }

        p{
          margin-top: -20px;
          margin-left: 0px;
          @include font($raleway, 200, 10pt);
        }
      }
    }
  }

  &>*{
  }

  .img{
    grid-area: img;
    float: right;
    display: block;
    margin: 0 auto;
    margin-top: -60px;
    margin-right: 100px;

    img{
      display: block;
    }
  }


  @include mQ(1040px){
    .img{
      margin-right: 50px;
    }

    &>div:nth-child(2){
      margin-top: 30px;
    }
  }
}

#hledani nav{

  &>ul{
  }

  text-align: center;

  li{
    padding: 10px 0px 0px 0px;
    list-style-type: none;
    max-width: auto;

    a{
      text-decoration: none;
      color: white;
      @include font($raleway, 400, 12pt);

      &:hover{
        @include font($raleway, 700, 12pt);
      }
    }

    p{
      margin-top: 0px;
      display: block;
      padding-top: 80px;

      background-repeat: no-repeat;
      background-position: top;
    }
  }

  .nabidka{
    display: none;
    position: absolute;
    background: $whitegrey2;
    height: auto;
    padding: 0;
    padding-bottom: 30px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
  }

  li:last-child:hover{

    background: $whitegrey2;

    p{
      background-image: url(images/ostatni2.png);
      background-repeat: no-repeat;
      background-position: top;
      color: black;
    }

    .nabidka{
      display: block;

      ul{
        width: auto;
        margin-top: -10px;
        padding-left: 0;

        li{
          text-align: center;
        }
      }

      a{
      text-align: center;
        color: $grey5;

        &:hover{
          color:black;
        }

        &:active{
          color: $grey5;
        }
      }
    }
  }
}



.sluzby{
  width: auto;

  .nadpis{ grid-area: nadpis6; }

  @include mQ(460px){
    .nadpis{ width: auto;}
    }

  #list{
    grid-area: obsah;
    @include grid(8);
    margin: 0 250px;
    margin-bottom: -120px;

    @include mQ(1600px){

      margin: 0 100px;
      margin-bottom: -120px;
    }

    @include mQ(1300px){
      margin: 0 50px;
      margin-bottom: -120px;
    }

    @include mQ(850px){
      @include grid(2);

      grid-template-areas:
      "clanek21 clanek21"
      "clanek24 clanek24"
      "clanek22 clanek22"
      "clanek25 clanek25"
      "clanek23 clanek23"
      "clanek26 clanek26"
      "photo photo";

      margin-left: 20px;
      margin-right: 20px;
    }

    @include mQ(560px){
      margin: 0px;
    }

    @include mQ(460px){
      .clanek{
        @include title_text(auto, $raleway, 900, 12pt, $red, 0px, $raleway, regular, 13pt, $grey2, 20px 0px 0px 0px);
      }
    }
  }
}

#list{
  grid-template-areas:
  "clanek21 clanek21 clanek21 clanek21 clanek24 clanek24 clanek24 clanek24"
  "clanek22 clanek22 clanek22 clanek22 clanek25 clanek25 clanek25 clanek25"
  "clanek23 clanek23 clanek23 clanek23 clanek26 clanek26 clanek26 clanek26"
  "photo photo photo photo photo photo photo photo";

  .clanek{
    background: white;
    padding: 20px;
    padding-top: 30px;
    border: 1px solid $grey4;

    @include hover_a(1);
    a{ color: $red; }

    @include title_text(auto, $raleway, 900, 14pt, $red, 0px, $raleway, regular, 13pt, $grey2, 20px 0px 0px 0px);

    &>div:nth-child(1) {
       @include adjacent(100px, 100px, 100%);
       margin-right: 15px;
       margin-bottom: 10px;
       margin-top: 5px;
    }

    &>div:nth-child(2){
      display: block;

      div{
        width: 95px;
        border-bottom: solid 1px $grey;
        margin: 10px 0px 0px 115px;
      }
    }


  }

  & div:nth-child(1){ grid-area: clanek21; &>div:nth-child(1){ background-image: url(images/reference.png); }}
  & div:nth-child(2){ grid-area: clanek22; &>div:nth-child(1){ background-image: url(images/prodané.png); }}
  & div:nth-child(3){ grid-area: clanek23; &>div:nth-child(1){ background-image: url(images/dotazy.png); }}
  & div:nth-child(4){ grid-area: clanek24; &>div:nth-child(1){ background-image: url(images/služby.png); }}
  & div:nth-child(5){ grid-area: clanek25; &>div:nth-child(1){ background-image: url(images/rady.png); }}
  & div:nth-child(6){ grid-area: clanek26; &>div:nth-child(1){ background-image: url(images/expert.png); }}

  .naceneni{
    grid-area: photo;
    display: block;
    color: white;
    @include adjacent(auto, 381px, 100%);
    background-image: url(images/billboard1.jpg);

    padding: 20px;
    padding-left: 120px;
    //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

    @include mQ(1250px){
      background-image: url("images/billboard1M.jpg");
      position: relative;
      display: block;

      .nadpis{
        position: relative;
        float: left;
        margin: 0px;
        padding: 0px;
        margin-right: 20px;
        text-align: left;
        width: auto;
      }

      .text{
        width: 230px;

        p{
          @include font($raleway, regulare, 12pt);
        }

        position: relative;
        display: block;
        float: left;
        margin: 0px;
        padding: 0px;
        margin-top: 10px;
      }

      .button{
        position: relative;
        display: block;
        width: 100%;
        float: left;
      }
    }

    @include mQ(915px){
      background-size: 915px;
    }

    @include mQ(700px){
      width: auto;
      padding: 0px;

      button{
        display: block;
        margin:  0 auto;

        margin-top: 15px;
      }

      .text{
        width: 100%;
        p{
          display: block;
          margin:  0 auto;
          width: 400px;
          text-align: center;

          margin-top: 5px;
        }
      }

      .nadpis{

        display: block;
        width: 100%;

        h3{
          margin:  0 auto;
          width: 180px;
          text-align: center;

          margin-top: 20px;
        }
      }
    }

    @include mQ(460px){

      background-size: 1025px;

      .text{
        p{
          width: 250px;
        }
      }

      .button{
        button{
          width: 260px;

          font-size: 18pt;

          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}

.naceneni{
  .nadpis{
    margin-left: 0px;
  }

  *>div{
    display: block;
  }

  h3{
    display: block;
    text-align: left;
    line-height: 30px;

                       @include font($raleway, 200, 18pt);
    span:nth-child(2){ @include font($raleway, 900, 43pt); }
    span:nth-child(4){ @include font($raleway, 700, 22pt); }
  }

  p{
    @include font($raleway, regulare, 10pt);
  }

  button{
    padding: 15px 80px;
  }
}



.faq{
  grid-template-areas:
  "nadpis5"
  "obsah"
  "odkaz2";

  .nadpis{
    grid-area: nadpis5;
    margin-top: 180px;
    grid-gap: 5px;
    width: 200px;

    @include mQ(1600px){
      margin-top: 100px;
    }
  }

  #obsah{
    grid-area: obsah;
    margin-top: -40px;
    margin: 0 250px;

    @media screen and (min-width: 970px){
      @include grid(8);

      grid-template-areas:
      "prvninadpis prvninadpis prvninadpis prvninadpis druhynadpis druhynadpis druhynadpis druhynadpis"
      "clanek1 clanek1 clanek1 clanek1 clanek4 clanek4 clanek4 clanek4"
      "clanek2 clanek2 clanek2 clanek2 clanek5 clanek5 clanek5 clanek5"
      "clanek3 clanek3 clanek3 clanek3 clanek6 clanek6 clanek6 clanek6";
    }

    @include mQ(1600px){
      margin: 0 100px;

      .clanek>div:nth-child(1) {
         min-height: 165px;
      }
    }

    @include mQ(1300px){
      margin: 0 50px;
    }

    @include mQ(970px){
      display: block;
      @include grid(1);
      width: 550px;
      margin: 0 auto;

      grid-template-areas:
      "prvninadpis"
      "clanek1"
      "clanek2"
      "clanek3"
      "druhynadpis"
      "clanek4"
      "clanek5"
      "clanek6";
    }

    @include mQ(600px){
      width: auto;
    }

    @include mQ(413px){
      .clanek>div:nth-child(1) {
         min-height: 70px;
      }


      .clanek h5{
        font-size: 14pt;
      }
    }
  }

  .odkaz{
    grid-area: odkaz2;
    margin-top: 0px;
    width: auto;

    a{ color: $red; }
  }
}

#obsah{

  .clanek{
    margin: 15px 10px;
    height: auto !important;

    @include title_text(150px, $raleway, 400, 16pt, $red, 0px, $raleway, regular, 12pt, $grey2, 20px 0px 0px 0px);

    &>div:nth-child(1) {
       @include adjacent(50px, 50px, 100%);
       min-height: 120px;
       display: block;
       margin-right: 15px;
       margin-top: 0px;
    }

    &>div:nth-child(2){
      display: block;

      div{
        display: block;
        width: 95px;
        border-bottom: solid 1px $grey;
        margin: 5px 0px 0px 65px;
      }
    }
  }

  h4{ @include font($raleway, 800, 14pt);  margin-bottom: 15px; margin-top: 40px; text-align: center;}

  & h4:nth-child(1){ grid-area: prvninadpis;}
  & h4:nth-child(2){ grid-area: druhynadpis;}

  & div:nth-child(3){ grid-area: clanek1; &>div:nth-child(1){ background-image: url(images/1.png); }}
  & div:nth-child(4){ grid-area: clanek2; &>div:nth-child(1){ background-image: url(images/2.png); }}
  & div:nth-child(5){ grid-area: clanek3; &>div:nth-child(1){ background-image: url(images/3.png); }}
  & div:nth-child(6){ grid-area: clanek4; &>div:nth-child(1){ background-image: url(images/1.png); }}
  & div:nth-child(7){ grid-area: clanek5; &>div:nth-child(1){ background-image: url(images/2.png); }}
  & div:nth-child(8){ grid-area: clanek6; &>div:nth-child(1){ background-image: url(images/3.png); }}
}



.chci{
  grid-template-areas:
  "proc"
  "nabor";

  #proc{
    //display: none !important;
    grid-area: proc;
    background: $whitegrey;
    @include grid(1);
    grid-gap: 20px;
    text-align: center;
    padding-bottom: 100px;

    grid-template-areas:
    "nadpis3"
    "conteiner";
  }

  .conteiner{

    width: 1000px !important;
    @include grid(4);

    @media screen and (min-width: 1340px){
      grid-template-areas:
      "jsme serveru spokojenych prodanych"
    }

    @media screen and (min-width: 630px) and (max-width: 1340px){
      p{ @include font($roboco, 100, 50pt); margin: 0 20px;}
      width: 550px !important;

      @include grid(2);
      grid-gap: 20px;

      grid-template-areas:
      "jsme serveru"
      "spokojenych prodanych";
    }

    @include mQ(630px){
      @include grid(1);
      width: 250px !important;
      grid-gap: 40px;

      grid-template-areas:
      "jsme"
      "serveru"
      "spokojenych"
      "prodanych";

      &>div{ width: 260px; }
      .nadpis{
        width: 100%;
      }
    }

    @include mQ(380px){
      &>div{ width: 230px; }
      .nadpis{
        width: 100%;
      }
    }
  }

  #nabor{
    //display: none !important;
    grid-area: nabor;
    background: $white;
    height: 500px;
    margin:  0 auto;
    width: 1250px;
    display: block;

    .woman{
      height: 750px;
      margin-top: -200px;
      margin-left: 20px;
      width: 1050px;
      float: left;
      display: block;
      position: relative;

      .nadpis2{
        margin-top: 160px;
      }
    }

    .for{
      grid-area: fore;
      color: $blue;
      text-align: left;
      margin-top: 50px;
      display: block;
      float: right;
      position: relative;

      p{
        @include font($raleway, 300, 18pt);
        transform: rotate(12deg);
        margin-top: 80px;
      }

      span{ @include font($raleway, 800, 18pt); }
    }

    @media screen and (min-width: 1550px){

      //@include grid(4);

      //grid-template:
      //"woman woman woman fore"
      //"woman woman woman fore";
    }


    @media screen and (max-width: 1550px){

      @include grid(1);

      grid-template:
      "woman"
      "woman";

      width: 1050px;

      .for{
        display: none;
      }
    }

    @include mQ(1200px){
      width: 920px;

      .woman{
        width: inherit;
      }
    }

    @include mQ(980px){
      height: 500px;
      width: auto;

      .woman{
        background: none;
        text-align: center;
        margin-left: 0;
      }

      .button{
        button{
           font-size: 15pt;
        }
      }
    }

    @include mQ(500px){
      height: 450px;
    }

    @include mQ(400px){
      height: 380px;

      .button{
        button{
           font-size: 15pt;
           padding-left: 20px;
           padding-right: 20px;
        }
      }
    }
  }
}

#proc{



  *{ margin: 0px;}

  &>div{ width: 260px;  text-align: center;}

  p{ @include font($roboco, 100, 60pt); margin: 0 20px;}

  span{ @include font($roboco, 100, 20pt); }

  h4{ @include font($raleway, 900, 13pt); color: $blue; margin-top: 15px; }


  .conteiner{
    grid-area: conteiner;
    margin: 0 auto;
  }

  .nadpis{
    grid-area: nadpis3;
    margin-top: 60px;
    margin-bottom: 20px;
    width: auto;
  }

  .jsme{ grid-area: jsme; }
  .serveru{ grid-area: serveru; }
  .spokojenych{ grid-area: spokojenych; }
  .prodanych{ grid-area: prodanych; }


  @include mQ(380px){
    .conteiner{
      width: 240px !important;
    }

    p{ @include font($roboco, 100, 50pt); margin: 0 20px;}

    span{ @include font($roboco, 100, 17pt); }

    h4{ @include font($raleway, 900, 12pt); color: $blue; margin-top: 15px; }
  }
}

#nabor{

  .button{ grid-area: button1; }

  .woman{
    grid-area: woman;
    display: block;
    margin-top: -80px;



    background-image: url(images/woman.png);
    background-repeat: no-repeat;
    background-position: right;


    .nadpis2{
      grid-area: nadpis4;
      color: $grey3;
      padding-top: 80px;


      h3{ @include font($raleway, normal, 40pt); margin-bottom: -30px;}

      span{ @include font($raleway, 900, 50pt); }

      p{ @include font($raleway, normal, 20pt); }
    }

    @include mQ(1350px){

      .nadpis2{
        padding-top: 110px;
        h3{ @include font($raleway, normal, 30pt); }

        span{ @include font($raleway, 900, 45pt); }

        p{ @include font($raleway, normal, 15pt); padding-top: 15px;}
      }
    }

    @include mQ(1100px){
      .nadpis2{
        h3{ @include font($raleway, normal, 30pt); }

        span{ @include font($raleway, 900, 45pt); }

        p{ @include font($raleway, normal, 15pt); padding-top: 15px;}
      }
    }

    @include mQ(500px){
      .nadpis2{
        h3{ @include font($raleway, normal, 20pt); }

        span{ @include font($raleway, 900, 35pt); }

        p{ @include font($raleway, normal, 15pt); padding-top: 15px;}
      }
    }

    @include mQ(400px){
      .nadpis2{
        h3{ @include font($raleway, normal, 15pt); }

        span{ @include font($raleway, 900, 30pt); }

        p{ @include font($raleway, normal, 15pt); padding-top: 15px;}
      }
    }
  }
}



.poptavka{

  &>div{
    grid-area: popt;
    background: $red;
    margin: auto 0px;
    padding: 0px 150px;
    width: 840px;

    margin: 0 auto;
    @include grid(1);

    grid-template-areas:
    "nadpis7"
    "client-container"
    "vice3";

    .nadpis, h3{
      grid-area: nadpis7;
      color: white;
      margin: 15px 0px;
      padding: 0px;
      width: 100%;
    }

    .client-container{
      grid-area: client-container;

      .carousel-cell{
        background: white;
        margin: 0px 5px;
        padding: 10px 20px;
        width: 232px;

        @include font($raleway, 400, 12pt);

        p:last-child{ margin-top: 20px; }
      }

      /* no circle */
      .flickity-button {
        background: transparent;
      }
      /* big previous & next buttons */
      .flickity-prev-next-button {
        width: 70px;
        height: 70px;
      }
      /* icon color */
      .flickity-button-icon {
        fill: white;
      }
      /* hide disabled button */
      .flickity-button:disabled {
        display: none;
      }

      /* position outside */
      .flickity-prev-next-button.previous {
        left: -100px;
      }
      .flickity-prev-next-button.next {
        right: -100px;
      }
    }

    .odkaz{
      grid-area: vice3;
      color: white;
      margin: 30px auto;
      margin-bottom: 40px;

      a{
        color: white;
      }
    }
  }
}



.news{
  grid-template-areas:
  "nadpis2"
  "news2"
  "vice";

  a{ color: $red; }

  .nadpis{
    grid-area: nadpis2;
    padding-top: 0px;
    width: auto;
  }

  #news{
    grid-area: news2;
    width: 1100px;
    margin: 0 auto;

    @media screen and (min-width: 1131px){
      @include grid(3);
    }

    @media screen and (max-width: 1130px){


      width: 530px;

      .clanek{
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px;

        width: 100%;

        img{
          max-width: 50%;
          float: left;
          margin-right: 20px;
        }

        h4{
          margin-top: 10px;
        }
      }
    }

    @include mQ(600px){
      width: 320px;

      .clanek{

        img{
          max-width: 100%;
          margin-bottom: 10px;
        }
      }
    }

    @include mQ(560px){
    }

    @include mQ(380px){
      width: 260px;
      margin: 0 auto;
      .clanek{

        h4{
          font-size: 12pt;
          margin-bottom: 15px;
        }

        & p:nth-child(3){
          margin-top: 0px;
        }

        & p:nth-child(4){
          margin-top: 0px;
        }
      }
    }
  }

  .odkaz{
    grid-area: vice;
    margin-top: 10px;
    width: auto;

    @include mQ(560px){
      margin-top: -10px;
    }
  }
}

#news{
  grid-template-areas:
  "clanek1 clanek2 clanek3";

  .clanek{
    margin-left: auto;
    margin-right: auto;
    width: 300px;

    img{
      width: 300px;
    }

    h4{
      @include font($raleway, bolder, 10.4pt);
      @include hover_a(1);
      color: $red;
    }

    p{
      color: $grey2;
    }

    & p:nth-child(3){
      @include font(sans-serif , lighter, 9pt);
    }

    & p:nth-child(4){
      @include font($raleway, 400, 9.8pt);
      line-height: 20px;
    }

    &:nth-child(1){ grid-area: clanek1; }
    &:nth-child(2){ grid-area: clanek2; }
    &:nth-child(3){ grid-area: clanek3; }
  }
}



.down{

  &>div{
    margin-bottom: 25px;
    margin-right: 200px;
    margin-top: 25px;
    width: 270px;

    a{
      display: block;
      margin-top: 32px;
      text-decoration: none;
      font-weight: bold;
      font-size: 15pt;
    }
  }
}





footer{
  &>*{
    //background: green;
    @include font($raleway, 400, 8pt);
    margin-top: 10px;
    a, p{
      color: white;
    }
  }

  .DEMO{
    grid-area: DEMO;
    width: 100%;
    text-align: center;
  }

  .poski{
    grid-area: poski;
    display: flex;
    justify-content: flex-end;
  }
}

.poski{

  &>div{
  }

  #poski{
    display: block;
    position: left;
    width: 210px;
    text-align: right;
    //background: blue;

    div{
      background-image: url(images/poski_logo.png);
      @include adjacent(29px, 29px, 80%);
      margin-top: 6px;
    }
  }

  #REAL{
    margin-left: 20px;
    width: 370px;
    //background: blue;

    div{
      background-image: url(images/poski_real.png);
      @include adjacent(28px, 25px, 80%);
      margin-top: 7px;
    }
  }
}
