$lightgray: #efefef;
$darkgray: #c1c1c1;
$red: #c5242b;
$grey: #a9a9a9;
$grey2: #7e7e7e;
$grey3: #3b3b3b;
$grey4: #e6e6e6;
$grey5: #767676;
$grey6: #909a93;
$whitegrey: #f5f5f5;
$whitegrey2: #ececec;
$blue: #179dd3;
$blue2: #00a8e7;
$yelow: #ded107;
$darkyelow: #bab006;
$white: #ffffff;
$white2: #ffffff;
$raleway: 'Raleway';
$roboco: 'Roboto';
